<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <!-- Phông Chữ Inter-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <!-- Phông chữ Chakra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <!-- Phông chữ Anton -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- link CSS -->
    <link rel="stylesheet" href="~/CSS/slick.css">
    <link rel="stylesheet" href="~/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/CSS/_gobal.css">
    <link rel="stylesheet" href="~/CSS/_section.css">
    <link rel="stylesheet" href="~/CSS/_reponsive.css">
    <link rel="stylesheet" href="~/CSS/_banner-footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link JS -->
    <script src="~/JS/main.js"></script>
    <script src="~/JS/plugins.js"></script>
    <script src="~/JS/plugin-custom.js"></script>

</head>
<body>
    <div>
        <!-- start preloader -->
        <div class="preloader align-items-center justify-content-center">
            <span class="loader"></span>
        </div>
        <!-- end preloader -->

        <!-- Start Custom Cursor -->
        <div class="mouse-follower">
            <span class="cursor-outline"></span>
            <span class="cursor-dot"></span>
        </div>
        <!-- End Custom Cursor -->

        <!-- header-section start -->
        <header class="header-section header-menu">
            <nav class="navbar w-100 flex-nowrap px-2 py-6 ps-2 ps-xl-10 ps-xxl-10 navbar-expand-xl">
                <div class="sidebar-close mobile-menu">
                    <button class="d-center d-grid d-xl-none">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <a href="@Url.Action("PageHome","Home")" class="navbar-brand ms-4 ms-xxl-15 d-flex align-items-center gap-2">
                    <img src="~/assets/images/fav.png" class="logo" alt="logo">
                    <img src="~/assets/images/logo-text.png" class="logo-text d-xxl-block d-none" alt="logo-text">
                </a>
                <div class="collapse navbar-collapse d-flex gap-10 w-100 justify-content-end px-8 pe-2" id="navbar-content">
                    <div class="contact-info ms-xl-0 ms-xxl-5 d-none d-sm-flex align-items-center gap-2">
                        <i class="fa-solid fa-phone"></i>
                        <span>(302) 555-0107</span>
                    </div>
                    <ul class="navbar-nav d-xl-flex d-none gap-3 py-4 py-lg-0 m-auto pe-20 align-self-center">
                        <li class="dropdown show-dropdown">
                            <button type="button" aria-label="Navbar Dropdown Button"
                                    class="dropdown-toggle dropdown-nav">
                                <a href="@Url.Action("PageHome","Home")"> Home </a>
                            </button>
                        </li>
                        <li class="dropdown show-dropdown">
                            <button type="button" aria-label="Navbar Dropdown Button"
                                    class="dropdown-toggle dropdown-nav ">
                                games
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("PageGame","Home")">games</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PageGameDetails","Home")">games Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown show-dropdown">
                            <button type="button" aria-label="Navbar Dropdown Button"
                                    class="dropdown-toggle dropdown-nav">
                                Services
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("PageServices","Home")">services one</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PageServicesDetails","Home")">services Details</a></li>
                        </li>
                    </ul>
                    </li>
                    <li>
                        <a class="dropdown-nav" href="@Url.Action("PageAbout","Home")">About</a>
                    </li>
                    <li class="dropdown show-dropdown">
                        <button type="button" aria-label="Navbar Dropdown Button"
                                class="dropdown-toggle dropdown-nav">
                            Pages
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PagePricing","Home")">pricing plan</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PageStore","Home")">Store</a>
                            </li>
                            <li class="sub-dropdown">
                                <button type="button" aria-label="Navbar Dropdown Button"
                                        class="dropdown-item dropdown-toggle">
                                    shop details
                                </button>
                                <ul class="sub sub-menu dropend">
                                    <li><a class="dropdown-item" href="@Url.Action("PageShopDetails","Home")">shop details one</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PageCart","Home")">Cart</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PageCheckOut","Home")">checkout</a>
                            </li>
                            <li class="sub-dropdown">
                                <button type="button" aria-label="Navbar Dropdown Button"
                                        class="dropdown-item dropdown-toggle">
                                    career
                                </button>
                                <ul class="sub sub-menu dropend">
                                    <li><a class="dropdown-item" href="@Url.Action("PageCareer","Home")">career</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("PageCareerDetails","Home")">career details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PagePrivacy","Home")">privacy policy</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("PageTerms","Home")">terms conditions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown show-dropdown">
                        <button type="button" aria-label="Navbar Dropdown Button"
                                class="dropdown-toggle dropdown-nav">
                            blog
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("PageBlog","Home")">blog</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("PageBlogDetails","Home")">blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("PageContact","Home")">Contact</a>
                    </li>
                    </ul>
                    <div class="right-area position-relative d-flex gap-3 gap-xxl-6 align-items-center">
                        <div class="single-item">
                            <div class="cmn-head">
                                <div class="icon-area d-center position-relative">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                            <div class="main-area p-5">
                                <h5 class="mb-2">Search</h5>
                                <form action="#">
                                    <div class="input-area mt-6 p-4 d-flex align-items-center">
                                        <input type="text" placeholder="Enter Your Email">
                                        <div class="btn-area">
                                            <button class="box-style btn-box border-re py-1 p-2">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="cmn-head">
                                <div class="icon-area d-center position-relative">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="cmn-head">
                                <button type="button" class="icon-area d-center position-relative" data-bs-toggle="modal"
                                        data-bs-target="#loginMod">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            </div>
                        </div>
                        <div class="single-item cart-area">
                            <div class="cmn-head">
                                <button type="button" aria-label="Shopping Button"
                                        class="icon-area d-center position-relative">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="nav-items-wrapper d-flex flex-column p-4 p-sm-7 justify-content-between">
                                <button class="position-absolute close-btn">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                                <div class="nav-items">
                                    <h4 class="mb-7">Your shopper</h4>
                                    <div class="single-box p-2">
                                        <div class="d-flex gap-2 justify-content-between align-items-start">
                                            <div class="content-box d-flex gap-4">
                                                <div class="icon-box d-inline-flex d-center">
                                                    <img src="~/assets/images/product-img-1.png" alt="icon">
                                                </div>
                                                <div class="info-box">
                                                    <a href="@Url.Action("PageShopDetails","Home")">
                                                        <h5>Accessories</h5>
                                                    </a>
                                                    <span>$150.00</span>
                                                    <div class="quantity-area">
                                                        <div class="d-flex align-items-center">
                                                            <div class="qtySelector py-1 d-inline-flex align-items-center">
                                                                <i class="fa-solid fa-minus" style="align-content: center; padding-left: 7px"></i>
                                                                <input type="text" class="qtyValue text-center m-0 xxltxt"
                                                                       value="4">
                                                                <i class="fas fa-plus d-center increaseQty" style="align-content: center; padding-left: 7px"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="end-area">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="single-box p-2">
                                        <div class="d-flex gap-2 justify-content-between align-items-start">
                                            <div class="content-box d-flex gap-4">
                                                <div class="icon-box d-inline-flex d-center">
                                                    <img src="~/assets/images/product-img-1.png" alt="icon">
                                                </div>
                                                <div class="info-box">
                                                    <a href="@Url.Action("PageShopDetails","Home")">
                                                        <h5>Accessories</h5>
                                                    </a>
                                                    <span>$150.00</span>
                                                    <div class="quantity-area">
                                                        <div class="d-flex align-items-center">
                                                            <div class="qtySelector py-1 d-inline-flex align-items-center">
                                                                <i class="fas fa-minus d-center decreaseQty" style="align-content: center; padding-left: 7px"></i>
                                                                <input type="text" class="qtyValue text-center m-0 xxltxt"
                                                                       value="3">
                                                                <i class="fas fa-plus d-center increaseQty" style="align-content: center; padding-left: 7px"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="end-area">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="single-box p-2">
                                        <div class="d-flex gap-2 justify-content-between align-items-start">
                                            <div class="content-box d-flex gap-4">
                                                <div class="icon-box d-inline-flex d-center">
                                                    <img src="~/assets/images/product-img-1.png" alt="icon">
                                                </div>
                                                <div class="info-box">
                                                    <a href="@Url.Action("PageShopDetails","Home")">
                                                        <h5>Accessories</h5>
                                                    </a>
                                                    <span>$150.00</span>
                                                    <div class="quantity-area">
                                                        <div class="d-flex align-items-center">
                                                            <div class="qtySelector py-1 d-inline-flex align-items-center">
                                                                <i class="fas fa-minus d-center decreaseQty" style="align-content: center; padding-left: 7px"></i>
                                                                <input type="text" class="qtyValue text-center m-0 xxltxt"
                                                                       value="2">
                                                                <i class="fas fa-plus d-center increaseQty" style="align-content: center; padding-left: 7px"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="end-area">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-area">
                                    <div class="d-flex justify-content-between">
                                        <span>Products: 17 items</span>
                                        <span>Sub Total: $677</span>
                                    </div>
                                    <div class="d-center alt-bg mt-6 gap-5">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box second-btn d-center">
                                            Visit Cart
                                        </a>
                                        <a href="@Url.Action("PageCheckout","Home")" class="box-style btn-box d-center active-btn">
                                            Check Out
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header-section end -->

        <!-- Login Registration start -->
        <div class="log-reg cmn-popup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="modal fade" id="loginMod">
                            <div class="modal-dialog pt-8 pt-sm-0 modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header border-0 p-0 justify-content-between position-absolute">
                                        <button type="button" class="btn-close p-0" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </div>
                                    <div class="tab-content">
                                        <ul class="nav flex-nowrap log-reg-btn justify-content-center">
                                            <li class="bottom-area" role="presentation">
                                                <button class="nav-link py-4 active" id="loginArea-tab" data-bs-toggle="tab"
                                                        data-bs-target="#loginArea" type="button" role="tab"
                                                        aria-controls="loginArea" aria-selected="true">
                                                    Login
                                                </button>
                                            </li>
                                            <li class="bottom-area" role="presentation">
                                                <button class="nav-link py-4" id="regArea-tab" data-bs-toggle="tab"
                                                        data-bs-target="#regArea" type="button" role="tab"
                                                        aria-controls="regArea" aria-selected="false">
                                                    Sign Up
                                                </button>
                                            </li>
                                        </ul>
                                        <div class="tab-pane fade show active" id="loginArea" role="tabpanel"
                                             aria-labelledby="loginArea-tab">
                                            <div class="login-content">
                                                <div class="modal-body p-0">
                                                    <form action="#" class="p-4 p-sm-8">
                                                        <p>
                                                            Sign up for faster checkout, special offers, and customer
                                                            support!
                                                        </p>
                                                        <div class="form-inside mt-6 p-3 p-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="loginemail">Email*</label>
                                                                        <input type="text" id="loginemail"
                                                                               placeholder="Enter your email"
                                                                               autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="loginpassword">Password*</label>
                                                                        <div class="pass-box d-center position-relative">
                                                                            <input type="text" id="loginpassword"
                                                                                   placeholder="Enter your Password"
                                                                                   autocomplete="off">
                                                                            <i class="material-symbols-outlined show-hide-pass position-absolute end-0 pe-4">
                                                                                visibility
                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="checkbox-item d-grid gap-4 mt-4 mt-sm-6">
                                                                        <label class="single-radio checkbox position-relative d-flex align-items-center px-5 ps-8">
                                                                            <span class="text-start d-grid">
                                                                                <span>
                                                                                    I agree to the <span>
                                                                                        Terms of
                                                                                        Services
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                            <input type="checkbox" name="agree">
                                                                            <span class="checkmark start-0"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="btn-area mt-4 mt-sm-8">
                                                                        <button class="box-style btn-box">
                                                                            Login
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="regArea" role="tabpanel"
                                             aria-labelledby="regArea-tab">
                                            <div class="reg-content regMod">
                                                <div class="modal-body p-0">
                                                    <form action="#" class="p-4 p-sm-8">
                                                        <p>
                                                            Sign up for faster checkout, special offers, and customer
                                                            support!
                                                        </p>
                                                        <div class="form-inside mt-6 p-3 p-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="fname">First Name*</label>
                                                                        <input type="text" id="fname"
                                                                               placeholder="Enter Your First Name"
                                                                               autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="lname">Last Name*</label>
                                                                        <input type="text" id="lname"
                                                                               placeholder="Enter Your Last Name"
                                                                               autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="email">Email*</label>
                                                                        <input type="text" id="email"
                                                                               placeholder="Enter your email"
                                                                               autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="password">Password*</label>
                                                                        <div class="pass-box d-center position-relative">
                                                                            <input type="text" id="password"
                                                                                   placeholder="Enter your Password"
                                                                                   autocomplete="off">
                                                                            <i class="material-symbols-outlined show-hide-pass position-absolute end-0 pe-4">
                                                                                visibility
                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="single-input text-start">
                                                                        <label for="cpassword">Confirm Password*</label>
                                                                        <div class="pass-box d-center position-relative">
                                                                            <input type="text" id="cpassword"
                                                                                   placeholder="Enter your Password"
                                                                                   autocomplete="off">
                                                                            <i class="material-symbols-outlined show-hide-pass position-absolute end-0 pe-4">
                                                                                visibility
                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="checkbox-item d-grid gap-4 mt-4 mt-sm-6">
                                                                        <label class="single-radio checkbox position-relative d-flex align-items-center px-5 ps-8">
                                                                            <span class="text-start d-grid">
                                                                                <span>
                                                                                    I agree to the <span>
                                                                                        Terms of
                                                                                        Services
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                            <input type="checkbox" name="agree">
                                                                            <span class="checkmark start-0"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="btn-area mt-4 mt-sm-8">
                                                                        <button class="box-style btn-box">
                                                                            Sign Up
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Registration end -->

        <!-- Sidebar Menu start -->
        <div class="sidebar-wrapper">
            <div class="position-relative">
                <div class="side-menubar py-6 d-flex flex-column justify-content-between align-items-center">
                    <div class="sidebar-close d-none d-xl-block">
                        <button class="d-center d-grid">
                            <i class="fa-solid fa-bars"></i>
                            <span>MENU</span>
                        </button>
                    </div>
                    <ul class="d-grid gap-4 social-area">
                        <li>
                            <a href="https://www.facebook.com" aria-label="Facebook" class="d-center">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" aria-label="Instagram" class="d-center">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" aria-label="Linkedin" class="d-center">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com" aria-label="Twitter" class="d-center">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bottom-area">
                        <select>
                            <option value="1">ENG</option>
                            <option value="2">BNG</option>
                            <option value="3">HIN</option>
                        </select>
                    </div>
                </div>
                <div class="sidebar-content d-center flex-columnn">
                    <div class="header-section d-block">
                        <div class="navbar bg-transparent">
                            <ul class="navbar-nav d-xl-flex gap-2 gap-md-5 py-4 py-lg-0 px-4 px-lg-0 align-self-center">
                                <li class="dropdown show-dropdown">
                                    <button type="button" aria-label="Navbar Dropdown Button"
                                            class="dropdown-toggle dropdown-nav fs-three heading">
                                        <a href="@Url.Action("PageHome","Home")">
                                            Home
                                        </a>
                                    </button>
                                </li>
                                <li class="dropdown show-dropdown">
                                    <button type="button" aria-label="Navbar Dropdown Button"
                                            class="dropdown-toggle dropdown-nav fs-three heading">
                                        games
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item fs-three heading" href="@Url.Action("PageGame","Home")">">games</a></li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageGameDetails","Home")">
                                                ">
                                                games
                                                Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown show-dropdown">
                                    <button type="button" aria-label="Navbar Dropdown Button"
                                            class="dropdown-toggle dropdown-nav fs-three heading">
                                        Services
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageServices","Home")">
                                                ">
                                                services
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading"
                                               href="@Url.Action("PageServicesDetails","Home")">l">services Details</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-nav fs-three heading" href="@Url.Action("PageAbout","Home")">About</a>
                                </li>
                                <li class="dropdown show-dropdown">
                                    <button type="button" aria-label="Navbar Dropdown Button"
                                            class="dropdown-toggle dropdown-nav fs-three heading">
                                        Pages
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PagePricing","Home")">
                                                pricing
                                                plan
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageStore","Home")">Store</a>
                                        </li>
                                        <li class="sub-dropdown">
                                            <button type="button" aria-label="Navbar Dropdown Button"
                                                    class="dropdown-item fs-three heading dropdown-toggle">
                                                shop details
                                            </button>
                                            <ul class="sub sub-menu dropend">

                                                <li>
                                                    <a class="dropdown-item fs-three heading"
                                                       href="@Url.Action("PageShopDetails","Home")">shop details one</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageCart","Home")">Cart</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageCheckout","Home")">checkout</a>
                                        </li>
                                        <li class="sub-dropdown">
                                            <button type="button" aria-label="Navbar Dropdown Button"
                                                    class="dropdown-item fs-three heading dropdown-toggle">
                                                career
                                            </button>
                                            <ul class="sub sub-menu dropend">
                                                <li>
                                                    <a class="dropdown-item fs-three heading" href="@Url.Action("PageCareer","Home")">career</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item fs-three heading"
                                                       href="career-details.html">career details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PagePrivacy","Home")">
                                                privacy
                                                policy
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageTerms","Home")">
                                                terms
                                                conditions
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown show-dropdown">
                                    <button type="button" aria-label="Navbar Dropdown Button"
                                            class="dropdown-toggle dropdown-nav fs-three heading">
                                        blog
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item fs-three heading" href="@Url.Action("PageBlog","Home")">blog</a></li>
                                        <li>
                                            <a class="dropdown-item fs-three heading" href="@Url.Action("PageBlogDetails","Home")">
                                                blog
                                                Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item fs-three heading" href="@Url.Action("PageContact","Home")">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-items w-100 bottom-0">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-item p-5 py-xxl-10 px-xxl-8">
                                    <h4 class="mb-6">Office</h4>
                                    <div class="d-flex gap-3 align-items-center">
                                        <div class="icon-box d-center">
                                            <i class="material-symbols-outlined mat-icon fs-fure"> location_on </i>
                                        </div>
                                        <div class="right-item w-75">
                                            <h5>London</h5>
                                            <span>Al. Brucknera Aleksandra 63, Wrocław 51-410</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-item p-5 py-xxl-10 px-xxl-8">
                                    <h4 class="mb-6">Email address</h4>
                                    <div class="d-flex gap-3 align-items-center">
                                        <div class="icon-box d-center">
                                            <i class="material-symbols-outlined mat-icon fs-fure"> mail </i>
                                        </div>
                                        <div class="right-item d-grid">
                                            <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b8fdc0d9d5c8d4ddf8dfd5d9d1d496dbd7d5">[email&#160;protected]</a></span>
                                            <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e3a69b828e938f86a3848e828a8fcd808c8e">[email&#160;protected]</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-item p-5 py-xxl-10 px-xxl-8">
                                    <h4 class="mb-6">Phone Number</h4>
                                    <div class="d-flex gap-3 align-items-center">
                                        <div class="icon-box d-center">
                                            <i class="material-symbols-outlined mat-icon fs-fure"> call </i>
                                        </div>
                                        <div class="right-item d-grid">
                                            <span>(302) 555-0107</span>
                                            <span>(302) 555-0107</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-item p-5 py-xxl-10 px-xxl-8">
                                    <h4 class="mb-6">Working Hours</h4>
                                    <div class="d-flex gap-3 align-items-center">
                                        <div class="icon-box d-center">
                                            <i class="material-symbols-outlined mat-icon fs-fure"> schedule </i>
                                        </div>
                                        <div class="right-item w-50">
                                            <span>Mon-Fri: 09: 00-18: 00 Sat-Sun: Weekend</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu end -->

        @RenderBody()


        <!-- Instagram post start -->
        <section class="instagram-post">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="instagram-post-carousel">
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-1.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-2.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-3.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-4.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-5.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-6.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="img-box d-inline-flex d-center text-center position-relative">
                                <img src="~/assets/images/instagram-post-7.png" alt="Image">
                                <a href="index-3.html" class="abs-area position-absolute d-center gap-2 p-4">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Instagram post end -->

        <!-- Footer Area Start -->
        <footer class="footer-section">
            <div class="container">
                <div class="row justify-content-between align-items-center pt-120 pb-120">
                    <div class="col-xl-5 col-lg-6 get-start">
                        <span class="mb-2 display-four">Let’s Get started</span>
                        <p>For further info & support, <a href="PageContact.html">Contact us</a></p>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <form action="#" class="form-contact mt-8 mt-lg-0 py-8 py-sm-15 px-4 px-sm-8">
                            <div class="input-area p-4 d-grid d-sm-flex align-items-center justify-content-between">
                                <input type="text" placeholder="Enter Your Email">
                                <div class="btn-area mt-6 mt-sm-0">
                                    <button class="box-style text-nowrap btn-box">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row cus-mar pb-120">
                    <div class="col-xl-3 col-md-5 col-sm-8 visible-from-bottom">
                        <div class="single-box">
                            <h4 class="mb-4">Office</h4>
                            <div class="contact-location d-grid gap-6">
                                <div class="single-area d-flex gap-6">
                                    <div class="icon-area d-center">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="text-area">
                                        <h5 class="mb-2">London</h5>
                                        <span>Al. Brucknera Aleksandra 63, Wrocław 51-410</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-5 col-sm-8 visible-from-bottom">
                        <div class="single-box">
                            <h4 class="mb-4">Email address</h4>
                            <div class="contact-location d-grid gap-6">
                                <div class="single-area d-flex gap-6">
                                    <div class="icon-area d-center">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text-area">
                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ffba879e928f939abf98929e9693d19c9092">[email&#160;protected]</a></span>
                                        <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0c49746d617c60694c6b616d6560226f6361">[email&#160;protected]</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-5 col-sm-8 visible-from-bottom">
                        <div class="single-box">
                            <h4 class="mb-4">Phone Number</h4>
                            <div class="contact-location d-grid gap-6">
                                <div class="single-area d-flex gap-6">
                                    <div class="icon-area d-center">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text-area">
                                        <span>(302) 555-0107</span>
                                        <span>(704) 555-0127</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-5 col-sm-8 visible-from-bottom">
                        <div class="single-box">
                            <h4 class="mb-4">Working Hours</h4>
                            <div class="contact-location d-grid gap-6">
                                <div class="single-area d-flex gap-6">
                                    <div class="icon-area d-center">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text-area">
                                        <span>Mon-Fri: 09: 00-18: 00 Sat-Sun: Weekend</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom p-5">
                    <div class="container">
                        <div class="row gap-3 gap-md-0 justify-content-between">
                            <div class="col-md-8 order-1 order-md-0">
                                <div class="copyright">
                                    <p class="text-center text-md-start">
                                        Copyright © 2023 <a href="PageHome.html">Gamestorm</a>
                                        - All Right Reserved
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="copyright d-flex gap-3 align-items-center justify-content-center justify-content-md-end">
                                    <a href="privacy-policy.html">Privacy</a>
                                    <a href="terms-conditions.html">Terms & Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
    </div>
</body>
</html>
