
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }
</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative about pricing-plan">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/bubble.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/ellipse-7.png" class="shape-2" alt="icon">
        </div>
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="main-content">
                        <h2 class="visible-slowly-bottom display-four mb-6"><span>Store</span></h2>
                        <p class="fs-four">Play · Improve · Win</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="breadcrumb-area position-absolute end-0 bottom-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 py-3 px-8 fs-six d-flex align-items-end justify-content-end">
                                <li class="breadcrumb-item p-0 m-0"><a href="@Url.Action("PageGame","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Store</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Store start -->
    <section class="store overflow-hidden pt-120 pb-120">
        <div class="container singletab">
            <div class="row section-header justify-content-center">
                <div class="col-lg-6 text-center">
                    <span class="display-four heading mb-6">Store</span>
                    <ul class="nav tablinks gap-4 flex-wrap justify-content-center tab-area">
                        <li class="nav-item">
                            <button class="nav-link d-center active">
                                all
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link d-center">
                                games
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link d-center">
                                merchandise
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link d-center">
                                hardware
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content tabcontents">
                <div class="tabitem active">
                    <div class="row cus-mar">
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-1.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Forza Horizon 3</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-2.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">CALL of DUTY</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-4.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-5.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Warzone</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-6.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Vr Goggles</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-7.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Sony PS4</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-8.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">FIFA 21</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-9.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-10.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-11.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabitem">
                    <div class="row cus-mar">
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-5.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Warzone</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-6.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Vr Goggles</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-7.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Sony PS4</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-8.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">FIFA 21</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-1.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Forza Horizon 3</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-2.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">CALL of DUTY</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-4.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-9.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-10.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-11.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabitem">
                    <div class="row cus-mar">
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-8.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">FIFA 21</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-9.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-10.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-11.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-1.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Forza Horizon 3</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-2.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">CALL of DUTY</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-4.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-5.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Warzone</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-6.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Vr Goggles</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-7.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Sony PS4</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabitem">
                    <div class="row cus-mar">
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-11.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-3.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-4.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-5.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Warzone</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-1.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Forza Horizon 3</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-2.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">CALL of DUTY</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-6.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Vr Goggles</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-7.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Sony PS4</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-8.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">FIFA 21</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-9.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Accessories</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="single-box box-style box-first p-3 p-sm-6 d-flex flex-row gap-6">
                                <div class="icon-area">
                                    <img src="~/assets/images/store-img-10.png" alt="Image">
                                </div>
                                <div class="text-area text-start">
                                    <h5 class="mb-2">Stickers</h5>
                                    <p>$ 150.00 USD</p>
                                    <div class="btn-area mt-4 alt-bg">
                                        <a href="@Url.Action("PageCart","Home")" class="box-style btn-box d-center gap-2">
                                            Add to Cart
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Store end -->
</body>
</html>
