
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }
</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative about services">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/bubble.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/ellipse-7.png" class="shape-2" alt="icon">
        </div>
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="main-content">
                        <h2 class="visible-slowly-bottom display-four mb-6">Our <span>Services</span></h2>
                        <p class="fs-four">
                            Our systematic approach to art development ensures high delivery
                            standards for games and game-based solutions, from look development to engine
                            integration.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="breadcrumb-area position-absolute end-0 bottom-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 py-3 px-8 fs-six d-flex align-items-end justify-content-end">
                                <li class="breadcrumb-item p-0 m-0"><a href="@Url.Action("PageHome","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Services start -->
    <section class="services pt-120 pb-120">
        <div class="container">
            <div class="row section-header justify-content-center">
                <div class="col-lg-7 text-center">
                    <h4 class="sub-title">Game <span>Design & Development</span> Services</h4>
                    <span class="fs-two heading mb-6">
                        Our Comprehensive Game <span>
                            Development
                            Services
                        </span>
                    </span>
                    <p>
                        End-to-end game development, revamping, and outsourcing services. Immersive technology
                        expertise for top-class gaming experiences
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row cus-mar">
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-1.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Game Art</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-2.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Game Development</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-3.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Game Animation</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-4.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Game QA Testing</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-5.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Out staffing</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="single-box d-inline-flex d-center text-center position-relative">
                        <img src="~/assets/images/services-img-6.png" alt="Image">
                        <a href="@Url.Action("PageServicesDetails","Home")"
                           class="abs-area alt-bg box-style btn-box-second position-absolute d-center flex-column p-4">
                            Find Out
                            <i class="fa-solid fa-up-long"></i>
                        </a>
                        <h3 class="visible-slowly-bottom position-absolute">Game UX/UI</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services end -->
    <!-- Our Focus section start -->
    <section class="our-focus services-area position-relative pt-120">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/line-1.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/object-1.png" class="shape-2" alt="icon">
        </div>
        <div class="container">
            <div class="row cus-mar pb-120">
                <div class="col-sm-6 col-xl-3">
                    <div class="single-box d-grid justify-content-center">
                        <div class="counters d-center">
                            <span class="odometer display-one" data-odometer-final="26+">0</span>
                            <span class="display-one symbol">+</span>
                        </div>
                        <p class="name-area fs-seven">
                            Years in Business
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-box d-grid justify-content-center">
                        <div class="counters d-center">
                            <span class="odometer display-one" data-odometer-final="78">0</span>
                            <span class="display-one symbol">+</span>
                        </div>
                        <p class="name-area fs-seven">
                            Downloads
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-box d-grid justify-content-center">
                        <div class="counters d-center">
                            <span class="odometer display-one" data-odometer-final="89">0</span>
                            <span class="display-one symbol">+</span>
                        </div>
                        <p class="name-area fs-seven">
                            Games Launched
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-box d-grid justify-content-center">
                        <div class="counters d-center">
                            <span class="odometer display-one" data-odometer-final="22">0</span>
                            <span class="display-one symbol">+</span>
                        </div>
                        <p class="name-area fs-seven">
                            Gaming Projects Delivered
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="position-relative d-center">
                        <img src="~/assets/images/video-bg-2.png" class="w-100" alt="sec-img">
                        <a href="https://www.youtube.com/watch?v=IaT4DneyKLc"
                           class="box-style btn-box-second heading-five fs-five mfp-iframe popupvideo text-uppercase d-center position-absolute">
                            Play
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Focus section end -->
    <!-- How it works start -->
    <section class="how-it-works pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center section-text">
                <div class="col-lg-6 text-center">
                    <h4 class="sub-title">A Simple yet Powerful and efficient <span>Process</span></h4>
                    <span class="fs-two heading mb-4">Our Game <span>Development Process</span></span>
                    <p class="mb-4">
                        Take your game development for next level in 10 simple step. Always work
                        Done By the Following Process
                    </p>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-sm-6 col-xl-3 position-relative d-center">
                    <div class="abs-area d-center position-absolute">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="single-box box-style box-first d-grid align-items-center text-center p-5 px-xl-8 py-xl-10">
                        <div class="icon-box d-center m-auto">
                            <i class="fa-solid fa-file"></i>
                        </div>
                        <div class="title-area">
                            <h4 class="mt-6 mb-3">Script Writing</h4>
                            <p>
                                We start by sketching the script using your instructions as a guide, and we then
                                wait for your approval before moving.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 position-relative d-center">
                    <div class="abs-area d-center position-absolute">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="single-box box-style box-first d-grid align-items-center text-center p-5 px-xl-8 py-xl-10">
                        <div class="icon-box d-center m-auto">
                            <i class="fa-solid fa-image"></i>
                        </div>
                        <div class="title-area">
                            <h4 class="mt-6 mb-3">Story Board</h4>
                            <p>
                                We draw a representation of your work that shows the camera angles and the
                                script.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 position-relative d-center">
                    <div class="abs-area d-center position-absolute">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="single-box box-style box-first d-grid align-items-center text-center p-5 px-xl-8 py-xl-10">
                        <div class="icon-box d-center m-auto">
                            <i class="fa-solid fa-box"></i>
                        </div>
                        <div class="title-area">
                            <h4 class="mt-6 mb-3">3D Modeling</h4>
                            <p>
                                We create the objects, people, settings, and other things that go into creating
                                your video.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 position-relative d-center">
                    <div class="abs-area d-center position-absolute">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="single-box box-style box-first d-grid align-items-center text-center p-5 px-xl-8 py-xl-10">
                        <div class="icon-box d-center m-auto">
                            <i class="fa-solid fa-file"></i>
                        </div>
                        <div class="title-area">
                            <h4 class="mt-6 mb-3">Animation</h4>
                            <p>
                                After creating the animations and adding voiceovers and sound effects, we turn
                                the project over.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How it works end -->
    <!-- Benefits start -->
    <section class="our-game-features benefits pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center section-text">
                <div class="col-lg-6 text-center">
                    <h4 class="sub-title">Client-Centric <span>Creativity</span></h4>
                    <span class="fs-two heading mb-4">
                        Our Fundamental Benefits in <span>
                            Game ART and
                            Development
                        </span>
                    </span>
                    <p class="mb-4">
                        A client-centric approach coupled with creative freedom, professional
                        experimentation, and a willingness to create beyond the limits makes us a great partner
                        for businesses looking to deliver a product that stands out.
                    </p>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-md-6">
                    <div class="single-box flex-wrap box-style box-second py-5 px-4 py-sm-10 px-sm-9 d-center justify-content-between">
                        <div class="content-box d-flex gap-4 gap-md-6">
                            <div class="icon-box d-inline-flex d-center">
                                <i class="fa-solid fa-gamepad"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="mb-2">Customized Game Art and Development</h5>
                                <p>
                                    All our services, from art creation to a full-fledged game, are implemented
                                    using flexible methodologies and taking into account all client requirements
                                    for an effective result.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-box flex-wrap box-style box-second py-5 px-4 py-sm-10 px-sm-9 d-center justify-content-between">
                        <div class="content-box d-flex gap-4 gap-md-6">
                            <div class="icon-box d-inline-flex d-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="mb-2">Transparent & Reliable Communication</h5>
                                <p>
                                    The client has constant access & the ability to control entire workflow &
                                    receive instant feedback on any aspect of their interest, which ensures
                                    repeat business in 90% of cases.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-box flex-wrap box-style box-second py-5 px-4 py-sm-10 px-sm-9 d-center justify-content-between">
                        <div class="content-box d-flex gap-4 gap-md-6">
                            <div class="icon-box d-inline-flex d-center">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="mb-2">Commitment to Global Quality Standards</h5>
                                <p>
                                    Whether it's quality or security standards, our customers don't have to
                                    worry: we follow the latest innovations in data protection and always adhere
                                    to global quality standards for world-class products.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-box flex-wrap box-style box-second py-5 px-4 py-sm-10 px-sm-9 d-center justify-content-between">
                        <div class="content-box d-flex gap-4 gap-md-6">
                            <div class="icon-box d-inline-flex d-center">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="mb-2">Proven Track Record in Different Styles</h5>
                                <p>
                                    A team of 350+ professional artists and developers with extensive experience
                                    in both casual and AAA projects of various styles and genres can cover the
                                    volume of almost any project.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Benefits end -->
    <!-- Recently Completed start -->
    <section class="recently-completed">
        <div class="container pt-120 pb-120">
            <div class="row section-header justify-content-between align-items-center">
                <div class="col-lg-8">
                    <h4 class="sub-title">Recently <span>Completed</span></h4>
                    <span class="fs-two heading mb-6">
                        Game Development and Art, <span>
                            Elevated to a New
                            Level
                        </span>
                    </span>
                </div>
                <div class="col-lg-3 btn-movement">
                    <a href="javascript:void(0)" class="box-style d-center px-3 gap-3 m-auto">
                        View All Project
                        <i class="fa-solid fa-up-long"></i>
                    </a>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-12">
                    <div class="recently-completed-carousel">
                        <div class="slide-area">
                            <div class="single-slider position-relative d-grid align-items-center">
                                <div class="img-box">
                                    <img src="~/assets/images/recently-completed-img-1.png" alt="Image">
                                </div>
                                <div class="position-absolute cus-position start-0">
                                    <div class="content-box p-3 p-sm-8">
                                        <a href="@Url.Action("PageGame","Home")">
                                            <h3 class="visible-slowly-bottom mb-3">Game Development</h3>
                                        </a>
                                        <p>
                                            Game design, programming, art, animation, audio, testing, marketing,
                                            publishing, monetization, maintenance, player support, analytics.
                                        </p>
                                        <a href="@Url.Action("PageGame","Home")" class="end-area mt-8 d-center">
                                            <i class="fa-solid fa-up-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider position-relative d-grid align-items-center">
                                <div class="img-box">
                                    <img src="~/assets/images/recently-completed-img-2.png" alt="Image">
                                </div>
                                <div class="position-absolute cus-position start-0">
                                    <div class="content-box p-3 p-sm-8">
                                        <a href="@Url.Action("PageGame","Home")">
                                            <h3 class="visible-slowly-bottom mb-3">Game Development</h3>
                                        </a>
                                        <p>
                                            Game design, programming, art, animation, audio, testing, marketing,
                                            publishing, monetization, maintenance, player support, analytics.
                                        </p>
                                        <a href="@Url.Action("PageGame","Home")" class="end-area mt-8 d-center">
                                            <i class="material-symbols-outlined"> call_made </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider position-relative d-grid align-items-center">
                                <div class="img-box">
                                    <img src="~/assets/images/recently-completed-img-3.png" alt="Image">
                                </div>
                                <div class="position-absolute cus-position start-0">
                                    <div class="content-box p-3 p-sm-8">
                                        <a href="@Url.Action("PageGame","Home")">
                                            <h3 class="visible-slowly-bottom mb-3">Game Development</h3>
                                        </a>
                                        <p>
                                            Game design, programming, art, animation, audio, testing, marketing,
                                            publishing, monetization, maintenance, player support, analytics.
                                        </p>
                                        <a href="@Url.Action("PageGame","Home")" class="end-area mt-8 d-center">
                                            <i class="material-symbols-outlined"> call_made </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recently Completed end -->
    <!-- testimonials start -->
    <section class="testimonials">
        <div class="container pt-120">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="testimonials-carousel">
                        <div class="slide-area">
                            <div class="single-slider px-4 px-sm-8 pt-8 pb-15 pb-sm-20">
                                <div class="img-box">
                                    <img src="~/assets/images/testimonial-img-1.png" alt="Image">
                                </div>
                                <ul class="list pt-4 pb-6 d-flex gap-1 align-items-center">
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                                <p class="fs-four">
                                    “The graphics in their games are always top-notch and truly
                                    bring the world to life”
                                </p>
                                <h5 class="pt-8 pb-3">Kristin Watson</h5>
                                <div class="location-date d-flex gap-5">
                                    <span class="location pe-5">United Kingdom</span>
                                    <span>Mar 22, 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider px-4 px-sm-8 pt-8 pb-15 pb-sm-20">
                                <div class="img-box">
                                    <img src="~/assets/images/testimonial-img-2.png" alt="Image">
                                </div>
                                <ul class="list pt-4 pb-6 d-flex gap-1 align-items-center">
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                                <p class="fs-four">
                                    “The graphics in their games are always top-notch and truly
                                    bring the world to life”
                                </p>
                                <h5 class="pt-8 pb-3">Jordyn Septimus</h5>
                                <div class="location-date d-flex gap-5">
                                    <span class="location pe-5">United Kingdom</span>
                                    <span>May 12, 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider px-4 px-sm-8 pt-8 pb-15 pb-sm-20">
                                <div class="img-box">
                                    <img src="~/assets/images/testimonial-img-3.png" alt="Image">
                                </div>
                                <ul class="list pt-4 pb-6 d-flex gap-1 align-items-center">
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                                <p class="fs-four">
                                    “The graphics in their games are always top-notch and truly
                                    bring the world to life”
                                </p>
                                <h5 class="pt-8 pb-3">Bessie Cooper</h5>
                                <div class="location-date d-flex gap-5">
                                    <span class="location pe-5">United Kingdom</span>
                                    <span>Nov 25, 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider px-4 px-sm-8 pt-8 pb-15 pb-sm-20">
                                <div class="img-box">
                                    <img src="~/assets/images/testimonial-img-4.png" alt="Image">
                                </div>
                                <ul class="list pt-4 pb-6 d-flex gap-1 align-items-center">
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                                <p class="fs-four">
                                    “The graphics in their games are always top-notch and truly
                                    bring the world to life”
                                </p>
                                <h5 class="pt-8 pb-3">Esther Howard</h5>
                                <div class="location-date d-flex gap-5">
                                    <span class="location pe-5">United Kingdom</span>
                                    <span>Dec 17, 2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials end -->
    <!-- Contact Us start -->
    <section class="contact-us pt-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="section-text">
                        <h4 class="sub-title">Have <span>Questions?</span></h4>
                        <span class="fs-two heading mb-6">We'd Love To <span>Hear From You</span></span>
                        <p>
                            Please fill out the form and let us know about your concerns.We will try our best to
                            provide optimized solutions.
                        </p>
                    </div>
                    <div class="contact-area">
                        <div class="btn-area mt-10 d-grid gap-6 align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="icon-box d-center">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <span>+(2) 578 - 365 - 379</span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="icon-box d-center">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b1f9d4dddddef1d4c9d0dcc1ddd49fd2dedc">[email&#160;protected]</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 me-20 mt-7 mt-lg-0">
                    <form action="#" class="p-4">
                        <div class="form-inside p-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="conname">Name</label>
                                        <input type="text" id="conname" placeholder="Enter Your Name"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="conemail">Email</label>
                                        <input type="text" id="conemail" placeholder="Enter your email"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="consubject">Subject</label>
                                        <input type="text" id="consubject" placeholder="Enter Subject"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="conmessage">Leave us a message</label>
                                        <textarea cols="4" rows="4" id="conmessage"
                                                  placeholder="Please type your Message here..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-4">
                                    <div class="btn-area">
                                        <button class="box-style btn-box">

                                            Send Massage
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us end -->
</body>
</html>
